@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: 0 0% 100%;

  --primary: 199.53, 18.3%, 46.08%;
  --primary-foreground: 0 0% 100%;
  
  --edit-foreground: 0 0% 100%;
  --edit: 22.73 82.5% 31.37%;

  --link: 199.35, 18.34%, 33.14%;
}